[core]
	excludesfile = /Users/chris.chen/.gitignore_global
	editor = vim
[merge]
	keepBackup = false
	tool = p4merge
[mergetool "p4merge"]
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge "\"$PWD/$BASE\"" "\"$PWD/$LOCAL\"" "\"$PWD/$REMOTE\"" "\"$PWD/$MERGED\""
	keepTemporaries = false
	trustExitCode = false
	keepBackup = false
[user]
	name = Chris Chen
	email = chris.chen@zocdoc.com
